<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'news' %}">News Bee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" data-header-toggle="true""></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% comment %} <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a> {% endcomment %}
        
        {% if request.user.is_authenticated %}
        <a class="nav-item nav-link active" href= "{% url 'news' %}">News<span class="sr-only"> </span></a>
        <a class="nav-item nav-link" href="{% url 'dashboard' %} ">Bee News</a>
        <a class="nav-item nav-link" href="{% url 'dashboard' %} ">My Collection</a>
        <a class="nav-item nav-link" href="{% url 'logout' %} ">Logout</a>
        {% else %}
        <a class="nav-item nav-link active" href="{% url 'login' %} ">Login</a>
        <a class="nav-item nav-link" href="{% url 'signup' %} ">Signup</a>
        {% endif %}
  
       
      </div>
    </div>
  </nav>